/* ACTIVITY */

.btn-activity{
    cursor: pointer;
    color: #fff;
}

.scrollable-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.menu-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,.1);
}

textarea {
    resize: none !important; 
    }

.modal-backdrop{
    background-color:white !important;
    opacity: 1 !important;
}

