.kaizen{
    font-family: 'Ma Shan Zheng', cursive;
    /* font-size:  2.5rem !important; */
}
.content>.container-fluid>hr{
    display: none;
}
#tableKaizens thead {
    display:none;
}

div.dataTables_processing {
    z-index: 1;
}

.dt-button-collection .btn-group{
    width: 100%;
}